<div id="page_content_inner">
    <h3 class="heading_b uk-margin-bottom">Вопросы по товарам</h3>
    <% if @product_questions.size == 0 %>
    <div class="md-card">
        <div class="md-card-content">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                <center> Отсутствуют элементы для отображения </center></div>
            </div>
        </div>
    </div>
    <% else %>
    <div class="uk-grid uk-grid-medium" data-uk-grid-margin>
        <div class="uk-width-xLarge-10-10  uk-width-large-10-10">
            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Артикул товара</th>
                                    <th>Название товара</th>
                                    <th>Имя</th>
                                    <th>Телефон</th>
                                    <th>Дата создания</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @product_questions.each do |question| %>
                                <tr>
                                    <td><%= question.id %></td>
                                    <td><%= question.product.id %></td>
                                    <td><%= question.product_name %></td>
                                    <td><%= question.name %></td>
                                    <td><%= question.phone %></td>
                                    <td><%= question.created_at.to_datetime %></td>
                                   <td><%= link_to "посмотреть", administrators_product_question_path(question) %></td>
                                   <td><%= link_to "удалить", administrators_product_question_path(question), method: :delete %></td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                     <div class="will_paginate_plugin uk-text-center">
                <%= will_paginate @product_questions %>
             </div>  
                </div>
            </div>
            
        </div>
    </div>
    <% end %>
</div>