<div id="page_content_inner">
    <div class="uk-width-medium-10-10 uk-container-center ">
        
        <div class="md-card md-card-single" id="invoice">
            <div id="invoice_preview">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions hidden-print">
                    </div>
                    <h3 class="md-card-toolbar-heading-text large" id="invoice_name">
                    Вопрос # <%= @product_question.id %>
                    </h3>
                    
                </div>
                <div class="md-card-content" style="height: 578px;">
                    <div class="uk-margin-medium-bottom">
                        <span class="uk-text-muted uk-text-small uk-text-italic">Дата создания:</span><%= @product_question.created_at.to_datetime %>
                        
                    </div>
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-small-3-5">
                            <div class="uk-margin-bottom">
                                <span class="uk-text-muted uk-text-small uk-text-italic">Создатель:</span>
                                <address>
                                    <p><%= @product_question.name %></p>
                                    <p>Номер телефона: <%= @product_question.phone %></p>
                                </address>
                            </div>
                            <div class="uk-margin-medium-bottom">
                                <span class="uk-text-muted uk-text-small uk-text-italic">Товар:</span>
                                <address>
                                    <p><strong><%= link_to @product_question.product_name, product_path(@product_question.product_id) %></strong></p>
                                    <p>Артикул: <%= @product_question.product_sku %></p>
                                </address>
                            </div>
                        </div>
                        <div class="uk-width-small-2-5">
                            <p class="heading_b uk-text-success"><%=  @product_question.text %> </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="md-fab-wrapper">
            <a class="md-btn" href="/administrators/product_questions">Назад</a>
            
        </div>
    </div>
</div>