<div id="header" class="header">
    
    <!-- MAIN HEADER -->
    <div class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 logo">
                <a href="/"><img alt="Kute Shop" src="/site_theme/assets/images/logo.png" /></a>
            </div>
            <div class="col-xs-7 col-sm-7 header-search-box">
            
                <%= form_tag('/search_product', class: 'form-inline', method: :get) do %>
                    <div class="form-group form-category">
                    
                       <%= select_tag "type", "<option value=\"product_sku\">По артикулу</option><option value=\"product_name\">По названию</option>".html_safe, class: 'select-category' %>
                    </div>
                    <div class="form-group input-serach">
                       <!-- <input type="text"  placeholder="Поиск"> -->
                        <%= text_field_tag 'search_value', '', class: 'form-control input', placeholder: "Поиск"  %>
                    </div>
                    <button type="submit" class="pull-right btn-search"></button>
                <% end %>
            </div>
            <div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
                <a class="cart-link" href="order.html">
                    <span class="title">Shopping cart</span>
                    <span class="total">2 items - 122.38 €</span>
                    <span class="notify notify-left">2</span>
                </a>
                <div class="cart-block">
                    <div class="cart-block-content">
                        <h5 class="cart-title">2 Items in my cart</h5>
                        <div class="cart-block-list">
                            <ul>
                                <li class="product-info">
                                    <div class="p-left">
                                        <a href="#" class="remove_link"></a>
                                        <a href="#">
                                            <img class="img-responsive" src="/site_theme/assets/data/product-100x122.jpg" alt="p10">
                                        </a>
                                    </div>
                                    <div class="p-right">
                                        <p class="p-name">Donec Ac Tempus</p>
                                        <p class="p-rice">61,19 €</p>
                                    </div>
                                </li>
                                <li class="product-info">
                                    <div class="p-left">
                                        <a href="#" class="remove_link"></a>
                                        <a href="#">
                                            <img class="img-responsive" src="/site_theme/assets/data/product-s5-100x122.jpg" alt="p10">
                                        </a>
                                    </div>
                                    <div class="p-right">
                                        <p class="p-name">Donec Ac Tempus</p>
                                        <p class="p-rice">61,19 €</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="toal-cart">
                            <span>Total</span>
                            <span class="toal-price pull-right">122.38 €</span>
                        </div>
                        <div class="cart-buttons">
                            <a href="order.html" class="btn-check-out">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container">
            <div class="row">
                
                <div id="main-menu" class="col-sm-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <% @main_menu_items.each do |item| %>
                                    <% if item.has_children? == false %>
                                    <li><%= link_to item.title, item.url %></li>
                                    <% else %>
                                    <li class="dropdown">
                                        <a href="<%= item.path %>" class="dropdown-toggle" data-toggle="dropdown"><%= item.title %></a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    <% item.children.each do |children_item| %>
                                                    <li class="link_container"><%= link_to children_item.title, children_item.url %></li>
                                                    <% end %>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <% end %>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            
        </div>
    </div>
</div>