<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/lib/fancyBox/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/site_theme/assets/css/responsive.css" />
    <%= stylesheet_link_tag 'site', media: 'all' %>
    <%= csrf_meta_tags %>
    <title><%= yield(:seo_title) %></title>
    <meta name="description" content="<%= yield(:seo_description) %>">
    <meta name="keywords" content="<%= yield(:seo_keywords) %>">
</head>
<body class="<%= yield(:class) %>">



<%= render '/layouts/site/header' %>
<%= yield %>
<%= render '/layouts/site/footer' %>

<a href="#" class="scroll_top" title="Вверх" style="display: inline;">Вверх</a>
<!-- Script-->
<script type="text/javascript" src="/site_theme/assets/lib/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/owl.carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/lib/fancyBox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/site_theme/assets/js/jquery.actual.min.js"></script>
<script type="text/javascript" src="/site_theme/assets/js/theme-script.js"></script>

<%=  javascript_include_tag 'site' %>

</body>
</html>