<!DOCTYPE HTML>
<html>
  <head>
  111
    <%= stylesheet_link_tag 'site', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= flash[:notice]  %>
  <br/>
    <ul>
      <li><a href="/products/1">Категория Товара</a></li>
      <li><a href="/products/1">Товар</a></li>
      <li><a href="/products/1">Категория записи</a></li>
      <li><a href="/products/1">Запись</a></li>
      <li><a href="/products/1">Статичная страница</a></li>
    </ul>
    <hr/>
    <%= yield %>
    <%=  javascript_include_tag 'site' %>
  </body>
</html>